<link rel="stylesheet" href="/css/seller/reviseStoreInfo.css" />
<div class="container mt-5 rounded">
  <form>
  <h3 class="fw-bold mb-3">스토어 정보수정 <button type="submit" class="btn btn-outline-info mb-2 ml-3">수정완료</button></h3>
 
    <div class="input-group mb-3 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">스토어명</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3 rounded">
      <label class="input-group-text" for="inputGroupFile01">스토어 대표사진</label>
      <input type="file" class="form-control" id="inputGroupFile01" />
    </div>
    <div class="input-group mb-3 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">대표번호</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3 rounded">
      <span class="input-group-text">스토어 설명</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group mb-3 rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">오픈시간</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    </div>
  </form>
</div>
