<link rel="stylesheet" href="/css/seller/inquiryDetail.css" />
<div class="container clearfix">
  <div class="chat">
    <div class="chat-history">
      <ul class="chat-ul">
        <li><h2>이승현님과의 문의내역</h2></li>
        <br>
        <li>
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle you"></i>사용자</span>
            <span class="ml-3">1시간 전</span>
          </div>
          <div class="message you-message">문의메세지</div>
        </li>
        <li class="clearfix">
          <div class="message-data align-right">
            <span class="mr-3">2시간 전</span>
            <span class="message-data-name">나</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message me-message float-right">답변메세지</div>
        </li>
        <!--1칸-->
        <li class="clearfix">
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle you"></i>사용자</span>
            <span class="ml-3">3시간 전</span>
          </div>
          <div class="message you-message">문의메세지</div>
        </li>
        <li class="clearfix">
          <div class="message-data align-right">
            <span class="mr-3">4시간 전</span>
            <span class="message-data-name">나</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message me-message float-right">답변메세지</div>
        </li>
        <!--1칸-->
      </ul>
    </div>
  </div>
  
<div class="input-group mb-3">
  <textarea class="form-control" placeholder="답변메세지 작성" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: #FFC75F; color:black"></textarea>
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">전송하기</button>
</div>
</div>
