<link rel="stylesheet" href="/css/seller/register.css" />
<div class="bg"></div>
<div class="inbox">
  <form class="box" action="sellerRegister.html" method="post">
    <h3><b>CELEB과 함께 하세요!</b></h3>
    <input type="email" name="" placeholder="E-MAIL" required />
    <input type="password" name="" placeholder="PASSWORD" required />
    <input type="password" name="" placeholder="PASSWORD CONFIRM" required />
    <input type="text" name="" placeholder="STORE NAME" required />
    <input type="file" name="" placeholder="STORE IMAGE" required />
    <input type="text" name="" placeholder="OPERATE HOUR" required />
    <input type="text" name="" placeholder="STORE INFO" required />
    <input type="text" name="" placeholder="STORE NUMBER" required />
    <input type="text" name="" placeholder="CATEGORY" required />
    <input type="text" name="" placeholder="CITY" required />
    <input type="text" name="" placeholder="LICENSE NUMBER" required />
    <input type="text" name="" placeholder="ROAD ADDRESS" required />
    <input type="text" name="" placeholder="STORE INFO" required />
    <input type="text" name="" placeholder="ORDER TYPE" required />
    <input type="number" name="" placeholder="ORDER LIMIT" required />
    <input type="submit" name="" value="Register" required />
  </form>
</div>
