<link rel="stylesheet" href="/css/seller/registProduct.css" />
<script src="/js/seller/registProduct.js" defer></script>

<div class="container">
  <div class="row">
    <div class="col md-5">
      <h1 class="fw-bold">상품 등록하기<button class="btn btn-n mb-2 ml-3" id="registButton" type="submit">저장하기</button></h1>
      <div class="input-group rounded mb-3">
        <span class="input-group-text">상품명</span>
        <input type="text" class="form-control" id="productName" />
      </div>
      <div class="input-group mb-3 rounded">
        <span class="input-group-text">기본가격</span>
        <input type="number" class="form-control" id="productPrice" />
        <span class="input-group-text">원</span>
      </div>
      <div class="input-group">
        <span class="input-group-text">상품 설명</span>
        <textarea class="form-control" id="info"></textarea>
      </div>
      <div class="input-group">
        <span class="input-group-text">주문 유의사항</span>
        <textarea class="form-control" id="notice"></textarea>
      </div>
      <div>
        <label for="mainImage" class="form-label fw-bold ml-1">대표사진</label>
        <input class="form-control form-control mb-3 rounded" id="mainImage" type="file" />
      </div>
      <div>
        <label for="detailImage" class="form-label ml-1 fw-bold">상세이미지 (최대 7장)</label>
        <input class="form-control form-control rounded mb-3" id="detailImage" type="file" multiple />
      </div>
    </div>

    <div class="col md-7">
      <h5><b>카테고리 설정</b></h5>
      <hr />
      <button class="btn btn-info form-btn btn-sm" onclick="add_category()">카테고리 생성</button>
      <button class="btn btn-warning form-btn btn-sm" onclick="add_textform()">텍스트폼 추가</button>
      <button class="btn btn-primary form-btn btn-sm" onclick="add_checkbox()">체크박스 추가</button>
      <br />
      <button class="btn btn-success form-btn btn-sm" onclick="add_radiobox()">라디오(택1) 추가</button>
      <button class="btn btn-danger form-btn btn-sm" onclick="add_color()">색상선택폼 추가</button>
      <hr />

      <div id="field"></div>
      <script>
        function add_category() {
          var FD = document.getElementById('field');
          FD.insertAdjacentHTML(
            'beforeend',
            `<div id='makecategory' style='display: flex;'> 
        <i class='fas fa-circle' style='color: #03befc'></i>
        <div class='input-group rounded'>
          <span class='input-group-text' id='basic-addon1'>카테고리 이름 입력</span>
          <input
            type='text'
            class='form-control option'
            name='category'
          />
          <button class='btn btn-secondary x' onclick='remove_item(this)'>X</button>
        </div>
      </div>`,
          );
        }

        function add_textform() {
          var FD = document.getElementById('field');
          FD.insertAdjacentHTML(
            'beforeend',
            `<div id="TEXT" class='option' name='TEXT' style="display: flex">
        <i class="fas fa-circle" style="color: yellow"></i>
        <div class="input-group rounded">
          <span class="input-group-text" id="basic-addon1">폼 이름</span>
          <input type="text" id='name' class="form-control" placeholder="폼이름 입력" />
          <span class="input-group-text" id="basic-addon2">추가금액</span>
          <input type="number" id='price' class="form-control" placeholder="추가금액 입력" />
          <button class="btn btn-secondary x" onclick="remove_item(this)">X</button>
        </div>
      </div>`,
          );
        }

        function add_checkbox() {
          var FD = document.getElementById('field');
          FD.insertAdjacentHTML(
            'beforeend',
            `<div id="CHECKBOX" class='option' name='CHECKBOX' style="display: flex">
        <i class="fas fa-circle" style="color: #0352fc"></i>
        <div class="input-group rounded">
          <span class="input-group-text" id="basic-addon1">폼 이름</span>
          <input type="text" id='name' class="form-control" placeholder="폼이름 입력" />
          <span class="input-group-text" id="basic-addon2">추가금액</span>
          <input type="number" id='price' class="form-control" placeholder="추가금액 입력" />
          <button class="btn btn-secondary x" onclick="remove_item(this)">X</button>
        </div>
      </div>`,
          );
        }

        function add_radiobox() {
          var FD = document.getElementById('field');
          FD.insertAdjacentHTML(
            'beforeend',
            `<div id="RADIO" class='option' name='RADIO' style="display: flex">
        <i class="fas fa-circle" style="color: #086e2f"></i>
        <div class="input-group rounded">
          <span class="input-group-text" id="basic-addon1">폼 이름</span>
          <input type="text" id='name' class="form-control" placeholder="폼이름 입력" />
          <span class="input-group-text" id="basic-addon2">추가금액</span>
          <input type="number" id='price' class="form-control" placeholder="추가금액 입력" />
          <button class="btn btn-secondary x" onclick="remove_item(this)">X</button>
        </div>
      </div>`,
          );
        }

        function add_color() {
          var FD = document.getElementById('field');
          FD.insertAdjacentHTML(
            'beforeend',
            `<div id="COLOR" class='option' name='COLOR' style="display: flex">
        <i class="fas fa-circle" style="color: #ff0a0e"></i>
        <div class="input-group rounded">
          <span class="input-group-text" id="basic-addon1">폼 이름</span>
          <input type="text" id='name' class="form-control" placeholder="폼이름 입력" />
          <span class="input-group-text" id="basic-addon2">추가금액</span>
          <input type="number" id='price' class="form-control" placeholder="추가금액 입력" />
          <button class="btn btn-secondary x" onclick="remove_item(this)">X</button>
        </div>
      </div>`,
          );
        }

        function remove_item(obj) {
          var select = document.getElementById('field');
          select.removeChild(obj.parentNode.parentNode);
        }
      </script>
    </div>
  </div>
</div>
