<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<div class="container" style="margin-left: 10%; margin-top:5%">
  <div class="row mb-3 gx-5" style="flex-wrap: nowrap">
    <div class="col-md-6 mr-3 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold">제품순위</h4></b>
      <ul class="pl-3">
        <li>1위 :</li>
        <li>2위 :</li>
        <li>3위 :</li>
      </ul>
    </div>
    <div class="col-md-8 pt-3 rounded" style="background: white">
      <b
        ><h4 class="fw-bold">최근 주문건<button class="btn btn-sm btn-info ml-3 mb-2">주문목록 확인하기</button></h4></b
      >
      <ul class="pl-3">
        <li>주문1 <a class="fas fa-arrow-right text-right" href="#"></a></li>
        <li>주문2 <a class="fas fa-arrow-right text-right" href="#"></a></li>
        <li>주문3 <a class="fas fa-arrow-right text-right" href="#"></a></li>
        <li>주문4 <a class="fas fa-arrow-right text-right" href="#"></a></li>
        <li>주문5 <a class="fas fa-arrow-right text-right" href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="flex-wrap: nowrap">
    <div class="col-md-6 mr-3 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold">최근 7일 주문 수</h4></b>
      <canvas id="barChart"></canvas>
      <script>
        var ctxB = document.getElementById('barChart').getContext('2d');
        let today = new Date();

        let year = today.getFullYear();
        let month = today.getMonth() + 1;
        let date = today.getDate();
        var myBarChart = new Chart(ctxB, {
          type: 'bar',
          data: {
            labels: [
              year + '/' + month + '/' + parseInt(date - 6),
              year + '/' + month + '/' + parseInt(date - 5),
              year + '/' + month + '/' + parseInt(date - 4),
              year + '/' + month + '/' + parseInt(date - 3),
              year + '/' + month + '/' + parseInt(date - 2),
              year + '/' + month + '/' + parseInt(date - 1),
              year + '/' + month + '/' + date,
            ],
            datasets: [
              {
                label: '판매수',
                data: [5, 3, 3, 5, 2, 1, 8],
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(0,235,12,0.2)',
                ],
                borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(0,138,7,1)',
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      </script>
    </div>
    <div class="col-md-8 pt-3 rounded" style="background: white">
      <b><h4 class="fw-bold">통계</h4></b>
      <div class="row">
        <div class="col-xl-6 col-sm-6 col-6">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-receipt info font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>30건</h3>
                    <span>이번달 주문 수</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 col-6">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="fas fa-won-sign success font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>100,000원</h3>
                    <span>이번달 판매액</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div><div class="row">
          <div class="col-xl-6 col-sm-6 col-6">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="far fa-question-circle warning font-large-2 float-left"></i>
                    </div>
                    <div class="media-body text-right">
                      <h3>8건</h3>
                      <span>이번달 문의수</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-6 col-6">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="fas fa-heart danger font-large-2 float-left"></i>
                    </div>
                    <div class="media-body text-right">
                      <h3>12건</h3>
                      <span>이번달 리뷰수</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>
</div>
