<link rel="stylesheet" href="/css/inquiryDetail.css" />
<div class="container clearfix">
  <div class="chat">
    <div class="chat-history">
      <ul class="chat-ul">
        <li><h2>승현이네 케이크가게</h2></li>
        <li>
          <div class="message-data">
            <span class="message-data-name"><img class="you" src="avatar.svg" />사용자</span>
          </div>
          <div class="message you-message">문의메세지</div>
        </li>
        <li class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-name">승현이네 케이크가게</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message me-message float-right">답변메세지</div>
        </li>
        <!--1칸-->
        <li class="clearfix">
          <div class="message-data">
            <span class="message-data-name"><img class="you" src="avatar.svg" />사용자</span>
          </div>
          <div class="message you-message">문의메세지</div>
        </li>
        <li class="clearfix">
          <div class="message-data align-right">
            <span class="message-data-name">승현이네 케이크가게</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message me-message float-right">답변메세지</div>
        </li>
        <!--1칸-->
      </ul>
    </div>
  </div>
</div>
