<link rel="stylesheet" href="/css/inquiryList.css" />
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row">
      <div class="col">
        <div class="list list-row block">
          <div class="list-item">
            <div>
              <a href="#" data-abc="true"
                ><span class="w-48 avatar rounded gd-warning"><i class="fas fa-play"></i></span
              ></a>
            </div>
            <div class="flex">
              <a href="#" class="item-author text-color" data-abc="true">스토어명</a>
              <div class="item-except text-muted text-sm h-1x">대화내역</div>
            </div>
            <div class="no-wrap">
              <div class="item-date text-muted text-sm d-none d-md-block justify-content-end">3시간 전</div>
            </div>
          </div>
          <div class="list-item">
            <div>
              <a href="#" data-abc="true"
                ><span class="w-48 avatar rounded gd-primary"><i class="fas fa-play"></i></span
              ></a>
            </div>
            <div class="flex">
              <a href="#" class="item-author text-color" data-abc="true">스토어명</a>
              <div class="item-except text-muted text-sm h-1x">대화내역</div>
            </div>
            <div class="no-wrap">
              <div class="item-date text-muted text-sm d-none d-md-block">1분 전</div>
            </div>
          </div>
          <div class="list-item">
            <div>
              <a href="#" data-abc="true"
                ><span class="w-48 avatar rounded gd-warning"><i class="fas fa-play"></i></span
              ></a>
            </div>
            <div class="flex">
              <a href="#" class="item-author text-color" data-abc="true">스토어명</a>
              <div class="item-except text-muted text-sm h-1x">대화내역</div>
            </div>
            <div class="no-wrap">
              <div class="item-date text-muted text-sm d-none d-md-block">1일 전</div>
            </div>
          </div>
          <div class="list-item">
            <div>
              <a href="#" data-abc="true"
                ><span class="w-48 avatar rounded gd-info"><i class="fas fa-play"></i></span
              ></a>
            </div>
            <div class="flex">
              <a href="#" class="item-author text-color" data-abc="true">스토어명</a>
              <div class="item-except text-muted text-sm h-1x">대화내역</div>
            </div>
            <div class="no-wrap">
              <div class="item-date text-muted text-sm d-none d-md-block">3일 전</div>
            </div>
          </div>
          <div class="list-item">
            <div>
              <a href="#" data-abc="true"
                ><span class="w-48 avatar rounded gd-success"><i class="fas fa-play"></i></span
              ></a>
            </div>
            <div class="flex">
              <a href="#" class="item-author text-color" data-abc="true">스토어명</a>
              <div class="item-except text-muted text-sm h-1x">대화내역</div>
            </div>
            <div class="no-wrap">
              <div class="item-date text-muted text-sm d-none d-md-block">방금 전</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
