<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <script src="/js/consumer/User/login.js" defer></script>
    <title>CELEB</title>
  </head>
  <body>
    <input id="email" type="text" classplaceholder="아이디(이메일)" /><br />
    <input id="password" type="text" placeholder="비밀번호" /><br />
    <button id="loginButton">로그인</button>
  </body>
</html>
