<link rel="stylesheet" href="/css/login.css" />
<script src="/js/consumer/login.js" defer></script>
<div class="box-wrapper">
  <div class="bg"></div>
  <div class="box">
    <img class="logo" src="/img/logo.png" />
    <input type="email" id="email" placeholder="E-MAIL" />
    <input type="password" id="password" placeholder="PASSWORD" />
    <input type="submit" id="loginButton" value="Login" />
    <span>아직 아이디가 없으신가요? <a href="/register">회원가입</a></span>
  </div>
</div>
