<link rel="stylesheet" href="/css/main.css" />
<img class="main-logo bg-primary" src="/img/party2.jpg" height="400px" />
<div class="centered">당신만의 선물을 커스텀하세요</div>
<div></div>
<div class="container">
  <div class="category-contanier">
    <div class="image-with-text">
      <a href="/1"> <img class="category-image" src="/img/category/cake-i.jpg" width="120" height="120" /></a>
      <b class="caption">레터링 케이크</b>
    </div>
    <div class="image-with-text">
      <a href="/2"> <img class="category-image" src="/img/category/flower-i.jpg" width="120" height="120" /></a>
      <b class="caption">꽃다발</b>
    </div>
    <div class="image-with-text">
      <a href="/3"><img class="category-image" src="/img/category/banner-i.jpg" name="banner" width="120" height="120" /></a>
      <b class="caption">배너/현수막</b>
    </div>
    <div class="image-with-text">
      <a href="/4"> <img class="category-image" src="/img/category/phoneCase-p.jpg" width="120" height="120" /></a>
      <b class="caption">핸드폰 케이스</b>
    </div>
    <div class="image-with-text">
      <a href="/5"> <img class="category-image" src="/img/category/gift-i.jpg" width="120" height="120" /></a>
      <b class="caption">선물</b>
    </div>
  </div>
  <div class="content">
    <i class="fas fa-angle-left fa-4x text-muted"></i>
    <img src="assets/img/content/content-cake2.jpeg" width="300px" height="300px" />
    <img src="assets/img/content/content-flower.jpeg" width="300px" height="300px" />
    <i class="fas fa-angle-right fa-4x text-muted"></i>
  </div>
</div>
