<link rel="stylesheet" href="/css/main.css" />
<div class="banner">
  <div><img src="/img/party.jpg" /></div>
  <div><img src="/img/main.jpg" /></div>
  <div><img src="/img/flower-banner-temp.webp" /></div>
</div>
<script type="text/javascript">
  $('.banner').slick({
    autoplay: true,
    autoplaySpeed: 1500,
  });
</script>
<!-- <div class="container">
  <div class="category-contanier">
    <div class="image-with-text">
      <a href="/1"> <img class="category-image" src="/img/category/cake-p.jpg" width="120" height="120" /></a>
      <b class="caption">레터링 케이크</b>
    </div>
    <div class="image-with-text">
      <a href="/2"> <img class="category-image" src="/img/category/flower-p.jpg" width="120" height="120" /></a>
      <b class="caption">꽃다발</b>
    </div>
    <div class="image-with-text">
      <a href="/3"><img class="category-image" src="/img/category/banner-p.png" name="banner" width="120" height="120" /></a>
      <b class="caption">배너/현수막</b>
    </div>
    <div class="image-with-text">
      <a href="/4"> <img class="category-image" src="/img/category/phoneCase-p.jpg" width="120" height="120" /></a>
      <b class="caption">핸드폰 케이스</b>
    </div>
    <div class="image-with-text">
      <a href="/5"> <img class="category-image" src="/img/category/gift-p.jpg" width="120" height="120" /></a>
      <b class="caption">선물</b>
    </div>
  </div> -->
<div class="container-fluid" style="margin-top: 5%">
  <div class="row">
    <div class="col">
      <a href="/category/1"> <img class="category-image" src="/img/category/cake-p.jpg" /></a>
      <b class="caption">레터링 케이크</b>
    </div>
    <div class="col">
      <a href="/category/2"> <img class="category-image" src="/img/category/flower-p.jpg" /></a>
      <b class="caption">꽃다발</b>
    </div>
    <div class="col">
      <a href="/category/3"><img class="category-image" src="/img/category/banner-p.png" /></a>
      <b class="caption">배너/현수막</b>
    </div>
    <div class="col">
      <a href="/category/4"> <img class="category-image" src="/img/category/phoneCase-p.jpg" /></a>
      <b class="caption">핸드폰 케이스</b>
    </div>
    <div class="col">
      <a href="/category/5"> <img class="category-image" src="/img/category/gift-p.jpg" /></a>
      <b class="caption">선물</b>
    </div>
  </div>
</div>

<h2>현재 인기 스토어 TOP10</h2>

<div class="container">
  <div class="row">
    <div class="col-4 align-self-center">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
    <div class="col-4">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
    <div class="col-4">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
    <div class="col-4">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
    <div class="col-4">
      <img class="popularImage" src="/img/category/flower-p.jpg" />
      <ul>
        <li class="store-name"><i class="fas fa-star"></i>rate/5</li>
        <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
        <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="footer"></div>
