<link rel="stylesheet" href="/css/main.css" />
<div class="banner">
  <div><img src="/img/flower-banner-temp.webp" /></div>
  <div><img src="/img/party.jpg" /></div>
  <div><img src="/img/main.jpg" /></div>
</div>
<script type="text/javascript">
  $('.banner').slick({
    autoplay: true,
    autoplaySpeed: 1500,
  });
</script>

<div class="container-fluid" style="margin-top: 5%">
  <div class="row">
    <div class="col">
      <a href="/category/1"> <img class="category-image" src="/img/cat-cake-transparent.png" /></a>
      <b class="caption">레터링 케이크</b>
    </div>
    <div class="col">
      <a href="/category/2"> <img class="category-image" src="/img/cat-flower-transparent.png" /></a>
      <b class="caption">꽃다발</b>
    </div>
    <div class="col">
      <a href="/category/3"><img class="category-image" src="/img/cat-banner-transparent.png" /></a>
      <b class="caption">배너/현수막</b>
    </div>
    <div class="col">
      <a href="/category/4"> <img class="category-image" src="/img/cat-phonecase-transparent.png" /></a>
      <b class="caption">핸드폰 케이스</b>
    </div>
    <div class="col">
      <a href="/category/5"> <img class="category-image" src="/img/cat-gift-transparent.png" /></a>
      <b class="caption">선물</b>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mb-2">
    <div class="card-body" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px">
      <div class="card-text text-center fs-2">인기 스토어 TOP 9</div>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake2-250250.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake2-250250.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title text-center">Store Name</h3>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title text-center">Store Name</h3>
            <img class="card-img" src="/img/ex-cake2-250250.png" />
          </div>
          <div class="card-footer">
            <div class="card-text">
              <ul>
                <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
                <li><i class="xi-maker" style="color: red"></i>위치 :</li>
                <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
                <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
              </ul>
            </div>
            <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title text-center">Store Name</h3>
            <img class="card-img" src="/img/ex-cake1.png" />
          </div>
          <div class="card-footer">
            <div class="card-text">
              <ul>
                <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
                <li><i class="xi-maker" style="color: red"></i>위치 :</li>
                <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
                <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
              </ul>
            </div>
            <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title text-center">Store Name</h3>
            <img class="card-img" src="/img/ex-cake1.png" />
          </div>
          <div class="card-footer">
            <div class="card-text">
              <ul>
                <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
                <li><i class="xi-maker" style="color: red"></i>위치 :</li>
                <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
                <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
              </ul>
            </div>
            <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div> -->
</div>

<hr />
<div class="footer"></div>
