<link rel="stylesheet" href="/css/main.css" />
<img class="main-logo bg-primary" src="assets/img/content/main-logo-image.jpg" height="400px" />
<div class="centered">당신만의 선물을 커스텀하세요</div>
<div></div>
<div class="container">
  <div class="category-contanier">
    <div class="image-with-text">
      <a href="shoplist-cake.ejs">
        <img class="category-image" src="assets/img/content/content-cake2-crop.jpg" width="120" height="120"
      /></a>
      <span class="caption">레터링 케이크</span>
    </div>
    <div class="image-with-text">
      <a href="#"> <img class="category-image" src="assets/img/content/content-flower-crop.jpg" width="120" height="120" /></a>
      <span class="caption">꽃다발</span>
    </div>
    <div class="image-with-text">
      <a href="#"
        ><img class="category-image" src="assets/img/content/content-plancard-crop.png" name="banner" width="120" height="120"
      /></a>
      <span class="caption">배너/현수막</span>
    </div>
    <div class="image-with-text">
      <a href="#"> <img class="category-image" src="assets/img/content/content-phonecase-crop.jpg" width="120" height="120" /></a>
      <span class="caption">핸드폰 케이스</span>
    </div>
    <div class="image-with-text">
      <a href="#"> <img class="category-image" src="assets/img/content/content-present-crop.jpg" width="120" height="120" /></a>
      <span class="caption">선물</span>
    </div>
  </div>
  <div class="content">
    <i class="fas fa-angle-left fa-4x text-muted"></i>
    <img src="assets/img/content/content-cake2.jpeg" width="300px" height="300px" />
    <img src="assets/img/content/content-flower.jpeg" width="300px" height="300px" />
    <i class="fas fa-angle-right fa-4x text-muted"></i>
  </div>
</div>
