<p><i class="far fa-check-circle"></i>주문이 완료되었습니다 !</p>
<p id="time-text" onload="Timer()"></p>

<script>
    function Timer()
    {
        setTimeout("locateMypage()",10000);
    }
    function locateMypage()
    {
        location.replace("/mypage");
    }
    cnt = 10;
    function countdown()
    {
        if(cnt == 0)
        {
            locateMypage();
        }
        else{
            document.getElementById(time-text).innerHTML = cnt + "초 후에 마이페이지로 이동합니다···";
            setTimeout("countdown()",1000);
            cnt--;
        }
    }

</script>