<div class="container text-center">
  <h2>주문확인</h2>
  <h3>상품명</h3>
  <span>딸키케이크</span>
  <h3>옵션확인</h3>
  <ul>
    <li>옵션1</li>
    <li>옵션2</li>
  </ul>
  <h3>총 가격</h3>
  <span>20000원</span>
  <button class="btn btn-danger btn-lg">결제하기</button>
</div>
