<link rel="stylesheet" href="/css/productDetail.css">
<div class="container">
    <div class="row">
    <div class="col-8">
      <h1>제품이름</h1>
      <img class="main-image" src="" width="300px" height="200px">
      <div class="row">
        <h3>주문시 유의사항</h3>
        <p>유의할내용</p>
      </div>
      <div class="row">
        <h3>상품 상세보기</h3>
        <div class="col">
          <img src="" width="150px" height="100px">
        </div>
        <div class="col">
          <img src="" width="150px" height="100px">
        </div>
      </div>
    </div>
    <div class="col-4">
      <h1>메뉴선택</h1>
      <div class="row">
        <h4>사이즈</h4>
        <span style="white-space: nowrap;">
    <input type="radio" name="size" id="in1" checked/>
    <label for="in1">기본</label>
    <span class="plus-price">+3,000원</span>
  </span>
  <span style="white-space: nowrap;">
    <input type="radio" name="size" id="in2" />
    <label for="in2">1호</label>
  </span>
  <span style="white-space: nowrap;">
    <input type="radio" name="size" id="in3" />
    <label for="in3">2호</label>
  </span>
  <span style="white-space: nowrap;">
    <input type="radio" name="size" id="in4" />
    <label for="in4">3호</label>
  </span>
      </div>
      <div class="row">
        <h4>디자인</h4>
        <div class="block">
      <label>글씨색</label>
      <input class="design-request" type="text" />
    </div>
      <div class="block">
          <label>배경색</label>
          <input class="design-request" type="text" />    </div>
  </div>
      <div class="row">
        <h4>추가 요청사항</h4>
        <input class="consumer-request" type="text"/>
      </div>
  <div class="row">
    <form >
    <h4>픽업날짜</h4>
  
  </form>
  </div>
  
    </div>
    </div>
  
  </div>
  </div>