<link rel="stylesheet" href="/css/customer/productPayment.css" />
<div class="container text-center">
  <div class="card text-center">
    <div class="card-header">
      <img class="card-img" src="/img/ex-cake1.png" />
    </div>
    <div class="card-body">
      <h5 class="card-title">옵션 확인</h5>
      <p class="card-text">제품명</p>
      <p class="card-text">옵션!!!!!</p>
      <h4>가격</h4>
    </div>
    <div class="card-footer"><button class="btn btn-warning btn-lg d-grid mx-auto">결제하기</button></div>
  </div>
</div>
