<link rel="stylesheet" href="/css/register.css" />
<div class="inbox">
  <form class="box" action="register.html" method="post">
    <h2>CELEB과 함께 하세요!</h2>
    <input type="email" name="" placeholder="E-MAIL" />
    <input type="password" name="" placeholder="PASSWORD" />
    <input type="text" name="" placeholder="NICKNAME" />
    <input type="tel" name="" placeholder="PHONE NUMBER" />
    <input type="text" name="" placeholder="ADDRESS" />
    <input type="submit" name="" value="Register" />
  </form>
</div>
