<link rel="stylesheet" href="/css/consumer/register.css" />
<div class="bg"></div>
<div class="inbox">
  <form class="box" action="register.html" method="post">
    <h3><b>CELEB과 함께 하세요!</b></h3>
    <input type="email" name="" placeholder="E-MAIL" required />
    <input type="password" name="" placeholder="PASSWORD" required />
    <input type="password" name="" placeholder="PASSWORD CONFIRM" required />
    <input type="text" name="" placeholder="NICKNAME" required />
    <input type="tel" name="" placeholder="PHONE NUMBER" required />
    <input type="text" name="" placeholder="ADDRESS" required />
    <input type="submit" name="" value="Register" required />
  </form>
</div>
