<link rel="stylesheet" href="reviewStore.css" />
<div class="container-fluid rate-status">
  <span class="heading">승현이네 케이크</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <p>최근 리뷰 254건</p>
  <hr style="border: 3px solid #f1f1f1" />

  <div class="row">
    <div class="side">
      <div>5점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div>150</div>
    </div>
    <div class="side">
      <div>4점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div>63</div>
    </div>
    <div class="side">
      <div>3점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div>15</div>
    </div>
    <div class="side">
      <div>2점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div>6</div>
    </div>
    <div class="side">
      <div>1점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div>20</div>
    </div>
  </div>
  <hr style="border: 3px solid #f1f1f1" />
  <div class="card-group">
    <div class="card mx-2 my-2">
      <div class="card-header">리뷰어이름/평점</div>
      <div class="card-body">
        <img src="" class="card-image-top" alt="reviewimg" />
        <p class="card-text">나의리뷰</p>
      </div>
      <div class="card-footer">주문한음식</div>
    </div>
    <div class="card mx-2 my-2">
      <div class="card-header">리뷰어이름/평점</div>
      <div class="card-body">
        <img src="" class="card-image-top" alt="reviewimg" />
        <p class="card-text">나의리뷰</p>
      </div>
      <div class="card-footer">주문한음식</div>
    </div>
  </div>
  <div class="card-group">
    <div class="card mx-2 my-2">
      <div class="card-header">리뷰어이름/평점</div>
      <div class="card-body">
        <img src="" class="card-image-top" alt="reviewimg" />
        <p class="card-text">나의리뷰</p>
      </div>
      <div class="card-footer">주문한음식</div>
    </div>
    <div class="card mx-2 my-2">
      <div class="card-header">리뷰어이름/평점</div>
      <div class="card-body">
        <img src="" class="card-image-top" alt="reviewimg" />
        <p class="card-text">나의리뷰</p>
      </div>
      <div class="card-footer">주문한음식</div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
