<link rel="stylesheet" href="/css/shoplist.css" />
<div class="banner">
  <img class="banner-image" src="assets/img/content/flower-banner-temp.webp" />
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">지역선택</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">서울</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">경기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">인천</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">부산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">대구</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">제주</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">대전</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">광주</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">울산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">강원</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">세종</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">전남</a>
        </li>
      </ul>
      <div>
        <label class="rate-order" for="rate-order">평점순</label>
        <input type="checkbox" name="order" id="rate-order" />
        <label class="sell-order" for="sell-order">판매순</label>
        <input type="checkbox" name="order" id="sell-order" />
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
      <li class="open-hour"><i class="fas fa-clock"></i>08:00~21:00</li>
    </ul>
  </div>
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
    </ul>
  </div>
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
    </ul>
  </div>
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
    </ul>
  </div>
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
    </ul>
  </div>
  <div class="store">
    <img src="assets/img/content/content-flower.jpeg" width="250px" height="250px" />
    <ul>
      <li class="store-name">레몬트리케이크 <i class="fas fa-star"></i>rate/5</li>
      <li class="store-location">경기도 성남시 분당구 정자동 13-2</li>
    </ul>
  </div>
</div>
