<link rel="stylesheet" href="/css/shoplist.css" />
<div class="banner">
  <img class="banner-image" src="/img/main-logo-image.jpg" />
</div>

<nav class="navbar2 navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">지역선택</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >서울</a
          >
          <ul class="dropdown-menu" aria-labelledby="regionDropDown">
            <li><a class="dropdown-item" href="#">강남</a></li>
            <li><a class="dropdown-item" href="#">강북</a></li>
            <li><a class="dropdown-item" href="#">서초</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">경기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">인천</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">부산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">대구</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">제주</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">대전</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">광주</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">울산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">강원</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">세종</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">전남</a>
        </li>
      </ul>
      <div>
        <label class="rate-order" for="rate-order">평점순</label>
        <input type="radio" name="order" id="rate-order" />
        <label class="sell-order" for="sell-order">판매순</label>
        <input type="radio" name="order" id="sell-order" />
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake2.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake2.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake2.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Store Name</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
              <li><i class="xi-maker" style="color: red"></i>위치 :</li>
              <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
              <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
