<link rel="stylesheet" href="/css/consumer/storeReview.css" />
<div class="container-fluid rate-status">
  <span class="heading">승현이네 케이크</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <span class="heading">4.1</span>
  <p>
    최근 리뷰 254건
    <button class="btn btn-outline-warning btn-sm ml-2">리뷰쓰기</button>
  </p>
  <hr style="border: 3px solid #f1f1f1" />

  <div class="row">
    <div class="side right">
      <div>5점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side left">
      <div>150</div>
    </div>
    <div class="side right">
      <div>4점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side left">
      <div>63</div>
    </div>
    <div class="side right">
      <div>3점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side left">
      <div>15</div>
    </div>
    <div class="side right">
      <div>2점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side left">
      <div>6</div>
    </div>
    <div class="side right">
      <div>1점</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side left">
      <div>20</div>
    </div>
  </div>
  <hr style="border: 3px solid #f1f1f1" />

  <div class="row px-4">
    <div class="col-md-6 my-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="/img/avatar.svg" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">이승현</h6>
              <span>1일 전</span
              ><span>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i
              ></span>
            </div>
          </div>
          <!-- <div class="badge"> <span>Design</span> </div> -->
        </div>
        <div class="mt-5">
          <img src="" alt="foodpic" />
          <p>음식이 너무 맛있어요</p>
          <div class="mt-5">
            <div class="mt-3"><span class="text2">주문한 음식</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="/img/avatar.svg" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">이승현</h6>
              <span>1일 전</span>
              <span>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i
              ></span>
            </div>
          </div>
          <!-- <div class="badge"> <span>Design</span> </div> -->
        </div>
        <div class="mt-5">
          <img src="" alt="foodpic" />
          <p>음식이 너무 맛있어요</p>
          <div class="mt-5">
            <div class="mt-3"><span class="text2">주문한 음식</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="/img/avatar.svg" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">이승현</h6>
              <span>1일 전</span>
              <span>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i
              ></span>
            </div>
          </div>
          <!-- <div class="badge"> <span>Design</span> </div> -->
        </div>
        <div class="mt-5">
          <img src="" alt="foodpic" />
          <p>음식이 너무 맛있어요</p>
          <div class="mt-5">
            <div class="mt-3"><span class="text2">주문한 음식</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><img src="/img/avatar.svg" /></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">이승현</h6>
              <span>1일 전</span>
              <span>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star checked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i
              ></span>
            </div>
          </div>
          <!-- <div class="badge"> <span>Design</span> </div> -->
        </div>
        <div class="mt-5">
          <img src="" alt="foodpic" />
          <p>음식이 너무 맛있어요</p>
          <div class="mt-5">
            <div class="mt-3"><span class="text2">주문한 음식</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
