<link rel="stylesheet" href="/css/store-detail.css">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center text-muted">가게명</h3>
        <img class="shop-logo" src="assets/img/shop-logo.png" alt="shop-logo" />
        <ul>
          <li class="list-item">위치</li>
          <li class="list-item">운영시간</li>
          <li class="list-item">가게 전화번호</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <img src="assets/img/product1.png" alt="pd1" width="300px" height="300px">
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div>