<link rel="stylesheet" href="/css/storeDetail.css" />
<!-- <div class="container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img class="productImage" src="/img/ex-cake1.png" alt="" />
      </div>
      <div class="col-6">
        <h1>스토어이름</h1>
        <span>스토어설명</span>
      </div>
      <div class="col-3">
        <ul>
          <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
          <li><i class="xi-maker" style="color: red"></i>위치 :</li>
          <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
          <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
          <button type="button" class="btn btn-outline-secondary btn-lg">리뷰보기</button>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="padding: 10%; border-bottom: none">
    <div class="row">
      <div class="col-3">
        <img class="productImage" src="/img/ex-cake2.png" alt="" />
      </div>
      <div class="col-6">
        <h2>상품명</h2>
        <span>상품소개</span>
      </div>
      <div class="col-3">
        <ul>
          <li>가격</li>
          <li>사이즈</li>
          <li>특징</li>
        </ul>
        <button type="button" class="btn btn-outline-secondary btn-sm">구매하기</button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img class="productImage" src="/img/ex-cake3.png" alt="" />
      </div>
      <div class="col-6">
        <h2>상품명</h2>
        <span>상품소개</span>
      </div>
      <div class="col-3">
        <ul>
          <li>가격</li>
          <li>사이즈</li>
          <li>특징</li>
        </ul>
        <button type="button" class="btn btn-outline-secondary btn-sm">구매하기</button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img class="productImage" src="/img/product2.png" alt="" />
      </div>
      <div class="col-6">
        <h2>상품명</h2>
        <span>상품소개</span>
      </div>
      <div class="col-3">
        <ul>
          <li>가격</li>
          <li>사이즈</li>
          <li>특징</li>
        </ul>
        <button type="button" class="btn btn-outline-secondary btn-sm">구매하기</button>
      </div>
    </div>
  </div>
</div>
<div class="foot">
  <hr />
</div> -->

<div class="container px-4 px-lg-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="/img/ex-cake3.png" alt="..." />
      </div>
      <div class="col-lg-5 rounded" id="storeInfo">
        <h1 class="font-weight-light">스토어 이름</h1>
        <ul>
          <li><i class="xi-star" style="color: #fcba03"></i>평점 : /5</li>
          <li><i class="xi-maker" style="color: red"></i>위치 :</li>
          <li><i class="xi-time-o"></i>영업시간 : 11:00~17:00</li>
          <li><i class="xi-call"></i>전화번호 : 010-4800-1335</li>
        </ul>
        <a class="btn btn-primary" href="#!">리뷰보기</a>
      </div>
    </div>
  </div>
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0"><i class="fas fa-exclamation"></i> <공지사항> 추석 연휴 (9월 20일 ~ 9월 22일)은 휴무입니다~</p>
    </div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">도시락 케이크</h2>
          <img class="card-img" src="/img/ex-cake2.png" />
        </div>
        <div class="card-footer">
          <div class="card-text">
            <ul>
              <li>가격 : 15,000~</li>
              <li>사이즈 : 고정</li>
              <li>특징 : 편하게 즐길 수 있는</li>
            </ul>
          </div>
          <a class="btn d-grid mx-auto text-center btn-primary btn-sm" href="#!">주문하기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">홀 케이크</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer"><a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">케이킹</h2>
          <img class="card-img" src="/img/ex-cake1.png" />
        </div>
        <div class="card-footer"><a class="btn d-grid mx-auto btn-primary btn-sm" href="#!">주문하기</a></div>
      </div>
    </div>
  </div>
</div>
