body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body::before {
  content: '';
  background-color: #ff6699;
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg {
  width: 400px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: 0.5;
  z-index: 10;
}
.box {
  z-index: 15;
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type='text'],
.box input[type='password'],
.box input[type='email'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-bottom: 2px solid #000;
  opacity: 0.5;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  transition: 0.25s;
}
.box input[type='text']::placeholder,
.box input[type='password']::placeholder,
.box input[type='email']::placeholder {
  color: black;
}
.box input[type='text']:focus,
.box input[type='password']:focus,
.box input[type='email']:focus {
  text-align: center;
  width: 280px;
  border-color: #ff0066;
}

.box input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff0066;
  padding: 14px 40px;
  margin-top: 50px;
  width: 240px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type='submit']:hover {
  background: #ff0066;
}

span {
  color: black;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: deeppink;
}

a:visited {
  color: deeppink;
}
