@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
a {
  text-decoration: none;
}

.main-logo {
  width: 100%;
  height: 400px;
}

.category {
  background-color: darkorchid;
}

.category-contanier {
  min-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-image {
}

.content {
  margin-top: 50px;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.foot {
}

.image-with-text {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.caption {
  display: block;
  margin-left: 5px;
  margin-top: 10px;
}

.fa-angle-left {
  margin-right: auto;
  margin-left: 10px;
}

.fa-angle-right {
  margin-left: auto;
  margin-right: 10px;
}

.centered {
  margin-top: -60px;
  text-align: center;
  color: whitesmoke;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  width: 100%;
}
