/* .container {
  margin-top: 20px;
  border: solid 1px black;
}

.col-8 {
  border-right: solid 1px gray;
}

h1 {
  text-align: center;
}

.main-image {
  margin-left: 25%;
}

.plus-price {
  float: right;
}

.design-request {
  width: 200px;
  height: 20px;
  margin-left: 30px;
}

label {
  display: inline-block;
}
​ .consumer-request {
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
} */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

span {
  margin-left: auto;
}
.input-group {
  margin-top: 5%;
}

input {
  color: white;
}

.slide-image img {
  width: 14vw;
  height: 8em;
}

.card-header {
  text-align: center;
}

.option-section {
  margin-bottom: 7%;
}

#productName {
  margin: 20px 0;
}

#productPrice {
  float: right;
  font-size: 1.5rem;
}

.far {
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.text-end {
  float: right;
  align-self: center;
}

#exampleColorInput {
  margin-right: 0.7em;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  color: white;
  opacity: 0.4;
  border: 0;
  background: none;
  z-index: 1;
}

.slick-prev {
  left: 20px;
}

.slick-prev:after {
  content: '\f104';
  font: 40px/1 'FontAwesome';
}

.slick-next {
  right: 20px;
  text-align: right;
}

.slick-next:after {
  content: '\f105';
  font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #fcdeff;
}

/* .example-image {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.example-image:hover {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
} */
