/* .container {
  margin-top: 20px;
  border: solid 1px black;
}

.col-8 {
  border-right: solid 1px gray;
}

h1 {
  text-align: center;
}

.main-image {
  margin-left: 25%;
}

.plus-price {
  float: right;
}

.design-request {
  width: 200px;
  height: 20px;
  margin-left: 30px;
}

label {
  display: inline-block;
}
​ .consumer-request {
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
} */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

span {
  margin-left: auto;
}
.input-group {
  margin-top: 5%;
}
h2 {
  margin-top: 5%;
}

input {
  color: white;
}

.slide-image img {
  width: 13em;
  height: 8em;
}

.card-header {
  text-align: center;
}

.card {
  margin-top: 5%;
}
