.rate-status {
  padding: 1%;
  max-width: 1000px;
  border: solid 1px gray;
  margin-top: 5%;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
