@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}
ul {
  list-style: none;
  padding-left: 0px;
}

#storeInfo {
  background-color: white;
  padding: 30px;
  line-height: 3vw;
}
