.nav-item {
    margin-right : 40px;
    font-size:20px;
  }
  .grey-bg {
      background-color: #F5F7FA;
  }
  
  ul,li {
    list-style: none;
  }
  
  .navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }