.input-group {
  margin: 10px 0;
}

.form-btn {
  margin: 10px;
}

.fa-circle {
  margin: auto 0;
  margin-right: 10px;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 10px;
}

.x {
  margin: 0;
}
