.container {
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 100px 16%;
  padding: 4%;
}

.btn {
  background-color: #ffdb88;
}
