.pagination {
  padding-bottom: 2%;
}

.click {
  padding: 0;
}
.click:hover {
  cursor: pointer;
  color: gray;
}

.container {
  background-color: rgba(255, 137, 130, 0.08);
  padding: 2%;
}

.page-link {
  color: #f6cc4a;
}
