.pagination {
  padding-bottom: 2%;
}
.product-image {
  width: 100%;
}
.click {
  padding: 0;
}
.click:hover {
  cursor: pointer;
  color: gray;
}

.container {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: white;
  padding: 2%;
}

.page-link {
  color: #f6cc4a;
}

.offcanvas-backdrop {
  background-color: #ffffffa6;
}
