ul,
li {
  list-style: none;
  padding-left: 0;
}

.container {
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 40px;
}

.btn-n {
  background-color: #ffdb88;
}

.btn-primary,
.btn-danger {
  width: 48%;
}

.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.bg-orange {
  background-color: #ffc18a;
  width: 48%;
}

.bg-brown {
  background-color: #c0564a;
  width: 48%;
}
