body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body::before {
    content: '';
    background-color: #ffd5d5;
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bg {
    width: 420px;
    height: 650px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    opacity: 0.5;
    z-index: 10;
  }
  
  h2 {
    color: black;
  }
  .box {
    z-index: 11;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    text-align: center;
  }
  .box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .box input[type='text'],
  .box input[type='password'],
  .box input[type='email'],
  .box input[type='tel'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 2px solid #000;
    opacity: 0.5;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    transition: 0.25s;
  }
  .box input[type='text']::placeholder,
  .box input[type='password']::placeholder,
  .box input[type='email']::placeholder,
  .box input[type='tel']::placeholder {
    color: black;
  }
  .box input[type='text']:focus,
  .box input[type='password']:focus,
  .box input[type='email']:focus,
  .box input[type='tel']:focus {
    width: 280px;
    border-color: #ff0066;
  }
  
  .box input[type='submit'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fdbebe;
    padding: 14px 40px;
    margin-top: 50px;
    width: 240px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type='submit']:hover {
    background: #fdbebe;
  }
  