.input-group {
  margin: 10px 0;
}

.form-btn {
  margin: 10px;
}

.fa-circle {
  margin: auto 0;
  margin-right: 10px;
}

.container {
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3rem;
}

.x {
  margin: 0;
}

.btn-n {
  background-color: #ffdb88;
}

.btn-n:hover {
  background-color: #ffdb88;
  opacity: 0.8;
}
