.nav-item {
  margin-right: 40px;
  font-size: 20px;
}
.grey-bg {
  background-color: #f5f7fa;
}

ul,
li {
  list-style: none;
}
.navbar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: rgb(255, 244, 207);
  border: 2px solid rgb(255, 236, 174);
  text-align: center;
}
