.rate-status {
  padding: 1%;
  max-width: 1000px;
  margin-top: 5%;
  border-radius: 6px;
  margin-bottom: 5%;
  background-color: white;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.count {
  font-size: 25px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #ededed;
  text-align: center;
  color: white;
}

.bar {
  height: 18px;
  background-color: #ff9800;
}

.reviewImage {
  width: 100%;
}

@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.card {
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}

.icon img {
  border-radius: 5px;
}

span i {
  color: gray;
}
i .checked {
  color: #ffc02b;
}

.reviewImage {
  width: 6vw;
  height: 6vw;
  display: inline-block;
}

.replydate {
  font-size: 13px;
}

.page-link {
  color: rgb(255, 124, 146);
}
.container-fluid {
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.btn-gray {
  background-color: rgb(206, 206, 206);
}
.btn-gray:hover {
  background-color: rgb(206, 206, 206);
  opacity: 0.8;
}
