@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
*,
*:before,
*:after {
  box-sizing: border-box;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  height:70vh;
  overflow:auto;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 20px;
  border-width: 0 15px 15px;
  border-style: solid;
  border-color: #ccdbdc transparent;
  display: block;
  width: 0;
}
.chat .chat-history .you-message {
  background: #ccdbdc;
  color: #003366;
}
.chat .chat-history .me-message {
  background: #e9724c;
}
.chat .chat-history .me-message:after {
  border-color: #e9724c transparent;
  right: 20px;
  top: -15px;
  left: auto;
  bottom: auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat-ul {
  padding-left: 0;
}
.chat-ul li {
  list-style-type: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
.you {
  color: #ccdbdc;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 5px;
}

.me {
  color: #e9724c;
}
.you {
  color: #a8aab1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #003366;
}
#textarea-field {
  background-color: white;
}
#button-addon2 {
  background-color: #ffd5d5;
  color: grey;
}

.chat-history {
  background-color: #ffe3eb;
}

.btn:hover {
  opacity: 0.8;
}