a {
  text-decoration: none;
}

.user-info-image {
  width: 15vw;
  height: 15vw;
}

ul {
  list-style: none;
}

.user-info {
  padding: 3% 0;
}

.container {
  text-align: center;
  margin-top: 5%;
  background-color: white;
}

.pagination {
  padding-bottom: 2%;
}

.col-7 {
  text-align: left;
  margin: auto 0;
  font-size: 1rem;
}

.col-7 div {
  margin: 1vw 0;
}

.offcanvas-backdrop {
  background-color: transparent !important;
}

.product-image {
  width: 100%;
}

.click {
  padding:0;
}
.click:hover {
  cursor:pointer;
  color:gray;
}