a {
  text-decoration: none;
}

.user-info-image {
  width: 50%;
  height: 100%;
}

ul {
  list-style: none;
}

.user-info {
  padding: 3% 0;
}

.container {
  text-align: center;
  margin-top: 5%;
  background-color: white;
}

.pagination {
  padding-bottom: 2%;
}

.col-7 {
  text-align: left;
  margin: auto 0;
  font-size: 1rem;
}

.col-7 div {
  margin: 1vw 0;
}

.offcanvas-backdrop {
  background-color: #ffffffa6;
}

.product-image {
  width: 100%;
}

.click {
  padding: 0;
}
.click:hover {
  cursor: pointer;
  color: gray;
}

#GoInquiryList {
  margin-left: 3%;
}

.bg {
  background-color: rgb(255, 161, 177);
}

.bg:hover {
  background-color: rgba(255, 161, 177, 0.7);
}

.page-link {
  color: rgb(255, 124, 146);
}

.fa-truck-pickup {
  color: rgb(72, 130, 255);
}
