.box {
  width: 500px;
  height: 110vh;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-bottom: 10%;
  transform: translate(-50%, -50%);
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 500px;
}
