@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}
ul {
  list-style: none;
  padding-left: 0px;
}

#storeInfo {
  background-color: white;
  padding: 30px;
  line-height: 3vw;
}

.card-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg {
  background-color: rgb(255, 161, 177);
}

.bg:hover {
  background-color: rgba(255, 161, 177, 0.7);
}
